joblib
wandb
hydra-core
numpy
scipy==1.13.1
pandas
scikit-learn
pytorch-lightning
transformers
accelerate
peft
geos
reverse_geocoder
matplotlib
geoopt
einops
torchdiffeq
webdataset==0.2.57
reverse_geocoder # necessary in lonk/metrics/utils.py (not added in base repo)
datasets # necessary in adversarial_eval.py (not added in base repo)